<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <!--<add key="Conexion" value="DATA SOURCE=DESKTOP-1V6MR4L\SQLEXPRESS; INITIAL CATALOG=Empresa_Ejemplo_Ferreteria; USER ID=Frankklin; PASSWORD=frankklin;"/>
    <add key="Conexion2" value="DATA SOURCE=DESKTOP-1V6MR4L\SQLEXPRESS; INITIAL CATALOG=BaseEjemplo2; USER ID=Frankklin; PASSWORD=frankklin;"/>-->
    
    <add key="Conexion" value="DATA SOURCE=4.tcp.ngrok.io,14296; INITIAL CATALOG=Artsent_S_A_PRUEBA1; USER ID=Axoft; PASSWORD=Axoft;"/>
    <add key="Conexion2" value="DATA SOURCE=4.tcp.ngrok.io,14296; INITIAL CATALOG=Artsent_S_A_PRUEBA2; USER ID=Axoft; PASSWORD=Axoft;"/>
    
    <add key="EstadoPedido" value="2"/>
    <add key="EstadoPedidoReserva" value="1"/>
    <add key="TITULO" value ="|"/>
    <add key ="TalonarioPedidoCopia1" value ="8"/>
    <add key ="Empresa1" value ="Empresa 1"/>
    <add key ="Empresa2" value ="Empresa 2"/>
    <add key="InhabilitarbtnModificar" value="Aprobado,Cumplido"/> <!--Ingresado, Aprobado, Cumplido, Cerrado, Anulado, Revisado, Desaprobado-->
    <add key="HoraAverificar" value="2:00:00 PM" />
    <add key="Plus" value ="false"/>
    <add key ="Talonario" value ="23"/><!--6-->
    <add key ="Talonario2" value ="32"/><!--23-->
    <add key="Ruta" value =""/>
    <add key ="FILLER" value ="TRUE"/>
    <add key ="FILLER2" value ="TRUE"/>
    <add key="Cotiza" value ="false"/>
    <add key="Zonas" value="NORTE,OESTE,SUR"/>
    <add key="BasePrecios" value ="Empresa_Ejemplo_Ferreteria"/>
    <add key="ListaPrecio" value="1,2"/>
    <add key="ListaPrecio1" value ="1"/>
    <add key="ListaPrecio2" value ="2"/>
    <add key="SinDescuento" value ="false"/>
    
    <add key="Reservando" value ="RESERVADO"/>
    <add key="EliminandoReserva" value ="ABONADO"/>
    
    <add key ="FacturaA" value ="3"/>
    <add key ="FacturaB" value ="4"/>
    <add key ="FacturaE" value ="5"/>

    <!--REMITO DE SALIDA, ID de pedido -> FILLER de STA14/STA20 -->
    <add key ="DepositoOrigen" value ="01"/><!--6-->
    <add key ="DepositoDestino" value ="00"/>
    
    <add key ="ESTADO_MOV" value ="P"/>
    <!--<add key ="CODIGO_DEPOSITO" value ="'01','02'"/>-->
    <add key ="CODIGO_DEPOSITO" value ="'5','6','7'"/><!--6-->

    <!--REMITO DE ENTRADA, ID de pedido -> FILLER de STA14/STA20 -->
    
    <add key ="TalonarioTransferencia" value ="4"/>

    <add key ="TCOMP_IN_S" value ="FR"/>

    <add key ="TCOMP" value ="FAC"/>
    <add key ="ID_ASIENTO_MODELO_GV" value ="1"/>
  </appSettings>
</configuration>